#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.tarea-realizada {
  text-decoration: line-through;
  font-style: oblique;
}

.tarea-texto {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}